/* MAP GET*/
body {
  background-color: black; }

/*EXTENDS*/
.div {
  background-color: black;
  font-size: 30x;
  padding: 20px;
  color: aliceblue; }

.div__diadelpadre {
  background-color: brown; }

.div__diadelaindependencia {
  background-color: yellow; }

/*MIXINS de medida*/
.piedepagina, .div__diadelpadre, .div__diadelaindependencia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
