
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    
    .header__productos{
      background-color: rgb(178, 143, 211);
      grid-area: "header";
  
   }
   
   .header__productos ul{
      display: flex;
      flex-direction: row;
      padding: 15px;
      align-items: center;
      justify-content: center;
      list-style-type: none;
   }

   .header__productos li a {
       
       color: aliceblue;
       padding: 15px;
      
   }
   


 

 .main__title{
    text-align: center;
    font-size: 3rem;
    padding: .8em .4em;
 }

 .galery{
   
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 350px;
   display: grid;
   grid-template-columns: 160px 160px 160px 160px;
   grid-template-rows: 160px 160px 160px 160px ;
   grid-template-areas: 
   "img1 img1 img3 img5"
   "img1 img1 img3 img5"
   "img2 img2 img4 img5"
   "img2 img2 img4 img5";
   gap: 20px;
 }

 .gallery__picture--g1{
   grid-area: img1 ;
 }
 .gallery__picture--g2{
   grid-area: img2 ;
 }

 .gallery__picture--g3{
   grid-area: img3 ;
 }
 .gallery__picture--g4{
   grid-area: img4 ;
 }

 .gallery__picture--g5{
   grid-area: img5 ;
 }



 .galery__img{
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .gallery__picture{
   position: relative;
   cursor: pointer;
   overflow: hidden;
 }

.gallery__picture::before{
   content: "NILO STUDIO";
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   transform: scale(0);
   transition: transform .4s;
   background-color: #5b40f3a6;
   color: aliceblue;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 16px;
}

 .gallery__picture:hover::before{
   transform: scale(1);
 }

  
 
 @media screen and (max-width: 500px){

   .galery{
      grid-template-columns: 1fr ;
      padding-left: none;
      grid-area: 
      "img1"
      "img2"
      "img3"
      "img4"
      "img5";
   }
  }