@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,100;1,500&family=Roboto:ital,wght@0,300;0,400;1,100;1,300&family=Rock+Salt&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



ul{
    display: flex;
    flex-direction: row;
    padding: 22px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background-image : linear-gradient(to top, rgb(55, 44, 55),#ffff);
 }

 li a {


 padding: 10px;
 text-decoration: none;
 }

 
 .article p{
    font-style: italic;
 }
 .article h1{
    font-size: 30px;
 }

.header h1{
    font-weight: bold;
    font-size: 20px;
    
}

 body{
    background-image: url(../multimedia/img1.jpg);
    font-family: 'Poppins', sans-serif;

 }

.tittle h1{
    padding: 15px;
    text-align: center;
    font-size: 30px;
    color: #ffff;


}


header{
    border: solid 1px black;
}



.cointainer{
    background-color: aliceblue;
    width: 80%;
    height: 100%;
    margin: 1.6em auto;
    text-align: center;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    
    }

.cointainer> .header,
.cointainer> .content,
.cointainer> .cajas,
.cointainer> .div{
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid black;


}

.cointainer .header{
    grid-column: 1/6;
   
}

.cointainer .content{
    grid-column: span 3;
    

}



.article{
    padding: 40px;
}


.cajas__img {
    padding: 10px;      
}


.cointainer .cajas__img:hover {
cursor: pointer;

}



.piedepagina{
background-color: rgb(19, 18, 19);
margin: 1px; 
content: 70px;  
}
.piedepagina p{
    margin: 0,5px;
    text-align: center;
    color: aliceblue;  

}

@media screen and (max-width: 500px){
    


.cointainer{
    background-color: rgb(115, 199, 138);
    width: 80%;
    height: 100%;
    margin: 1.6em auto;
    text-align: center;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    
    }

.cointainer> .header,
.cointainer> .content,
.cointainer> .cajas,
.cointainer> .div{
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid black;
}
   
.cointainer .header{
    grid-column: 2;
   
}

.cointainer .content{
    grid-column: 2;
    

}

.cointainer .cajas{
    grid-column: 2;
}
}